[submodule "lib/opensugbot-kinevizu"]
	path = lib/opensugbot-kinevizu
	url = https://github.com/lgabp1/opensurgbot-kinevizu.git
[submodule "lib/opensugbot_kinevizu"]
	path = lib/opensugbot_kinevizu
	url = https://github.com/lgabp1/opensurgbot-kinevizu.git
